.navbar {
  display: flex;
  justify-content: space-around;
  border-bottom: 4px solid #3A5B22;
  margin-bottom: 50px;

  &--list {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    height: 100px;
    font-size: 18px;
    font-weight: 400;
  }

  &--link {
    text-decoration: none;
    color: #000;
    transition: all .5s;

    &:hover {
      font-size: 20px;
      font-weight: 500;
      border-bottom: 2px solid #3A5B22;
    }
  }

  &--btn {
    background: #3A5B22 !important;
    width: 170px;
  }
}

li span strong {
  background: #3A5B22;
  padding: 8px;
  border-radius: 10px;
}

li span {
  font-weight: 600;
}
