<div class="form">
  <div class="form--container">
    <div class="form--container-div1">
      <div class="form--container-div1-texts-container">
        <h2 style="margin-bottom:50px;" class="form--container-div1-texts-container-title">Get Started Now!</h2>
        
      </div>
      <form class="form--container-div1-form" [formGroup]="formRegister" (ngSubmit)="submit()">

        <mat-form-field class="form--container-div1-form-field" appearance="fill">
          <mat-label>Name</mat-label>
          <input class="form--container-div1-form-field-input" matInput formControlName="Name">
        </mat-form-field>

        <mat-form-field class="form--container-div1-form-field" appearance="fill">
          <mat-label>Email</mat-label>
          <input class="form--container-div1-form-field-input" matInput formControlName="Email">
        </mat-form-field>

        <mat-form-field class="form--container-div1-form-field" appearance="fill">
          <mat-label>Password</mat-label>
          <input class="form--container-div1-form-field-input" type="password" matInput formControlName="Password">
        </mat-form-field>

        <div *ngIf="errorMessages.length > 0">
          <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
        </div>

        <button type="submit" class="form--container-div1-form-btn" mat-fab extended color="primary">
          Register
        </button>
        <h3 class="form--container-div1-form-have">Have an account? <a routerLink="/account/login">Sign in</a></h3>
      </form>
    </div>
    <div class="form--container-div2">
      <img class="form--container-div2-img" src="https://s3nft.s3.us-east-2.amazonaws.com/BACKLOG.png" />
    </div>
  </div>
</div>
