.analist {

  &--container {

    &-task {

      &-title {
        width: 260px;
        min-width: 250px;
        max-width: 250px;
        margin-left: 120px;



        &-icon {
        }
      }

      &-date {
        width: 600px;
        min-width: 600px;
        margin-left: 100px;
      }
    }
  }
}


